.odai {
  overflow: hidden;
  background-color: #333;
}
.odai a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.odai a :hover {
  background-color: #ddd;
  color: black;
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
  width: fit-content;
}
section {
  display: inline;
  margin-left: 180px;
  align-items: flex-end;
  margin-top: 100px;
  position: sticky;
}
main {
  width: auto;
  height: auto;
  margin: 20px;
  position: relative;
}

p {
  position: sticky;
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: scroll;
}

footer {
  background-color: #333;
  text-align: center;
  height: 100px;
}
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
